body {
    padding-top: 40px;
    background-color: #ddd;
}

html {
  scroll-behavior: smooth;
}

.active-item {
    background-color: rgba(255, 255, 255, 0.3);
}

.btn-scroll-down {
  bottom: 20px;
}

.btn-scroll-up {
    bottom: 100px;
    transform: rotate(180deg)
}

.btn-reload {
  bottom: 60px;
}

.btn-custom {
  position: fixed;
  right: 30px;
  z-index: 99;
  border-radius: 50px;
  border: 0px solid #900;
  background-color: rgba(0, 0, 0, 0) !important;
}

.btn-reload:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 50px;

}

.btn-reload-inverse {
    border-radius: 50px;
    border: 0px solid #900;
    background-color: rgba(0, 0, 0, 0);
}

.btn-reload-inverse:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.btn-scroll-down:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 50px;
}

.btn-scroll-up:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 50px;   
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #00BFFF #00BFFF;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  /**::-webkit-scrollbar-track {*/
    /*background: #fcfcfc;*/
  /*}*/

  *::-webkit-scrollbar-thumb {
    background-color: #4682B4;
    border-radius: 10px;
    /*border: 3px solid #ffffff;*/
  }

#displaylog {
padding: 10px;
}

.item-tree {
    height:20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.item-tree:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.marcatexto {
    background-color: #f598e1;
}

.mini-btn {
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0px;
}

.alert {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.tag {
    padding: 2px;
}

.danger-tag {
    color: white;
    background-color: red;
    padding: 2px;
}

.warning-tag {
    color: black;
    background-color: orange;
    padding: 2px;
    font-weight: bolder;
}

.success-tag {
    color: white;
    background-color: green;
    padding: 2px;
}

.info-tag {
    color: white;
    background-color: skyblue;
    padding: 2px;
}

.default-tag {
    color: white;
    background-color: DarkSlateGray;
    padding: 2px;
}

.php-tag {
    color: white;
    background-color: SlateBlue;
    padding: 2px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 400px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 400px;
    width: 0;
    height: 100%;
    margin-left: -400px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 400px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    /*padding: 15px;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -400px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 400px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 300px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 300px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #222;
  color: white;
}

.modal-body {
    padding: 2px 16px;
    min-height: 60vh;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #222;
  color: white;
}

.space-bottom{
    margin-bottom: 15px;
}

.monitor {
  border-radius: 0px;
  background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0), #00FF00, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
}

.monitor-infinite .monitor {      
  width: 100%; 
  background-image: 
    linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0), #00FF00, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
  animation: colorAnimation 1s infinite;
}

@keyframes colorAnimation {
  0% { 
    background-image: 
    linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0), #00FF00, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
  }
  20% { 
    background-image: 
    linear-gradient(to left, rgba(0,0,0,0), #00FF00, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
  }
  40% { 
    background-image: 
    linear-gradient(to left, #00FF00, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
  }
  60% { 
    background-image: 
    linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), #00FF00);
  }
  100% { 
    background-image: 
    linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), #00FF00, rgba(0,0,0,0));
  }
}